/*general styles*/
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: #f6f5f2;
}

.main_header, footer,
main, .warning_unpublished{
    margin: 20px auto;
    width: 65%;
    display: flex;
    min-height: 50px;
}

main{
    margin-bottom: 0;
}
/*header styles*/
.main_header{
    background-color: #343434;
    color: white;
    justify-content: space-between;
    text-transform: uppercase;
}

.logo{
    margin: 0 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    margin-right: 5px;
}

nav a{
    color: white;
    display: block;
    padding: 10px 25px;
    border-left: 1px solid white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

nav a:hover{
    background-color: aqua;
}
/*unpublished styles*/
.warning_unpublished{
    background-color: darkred;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    color: white;
}
/*articles styles*/
.articles{
    margin: 15px 15px 0 15px;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.articles article{
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.article_header{
    padding: 30px 50px;
}

.post_categories a:hover{
    color: #2ecc71;
}

.status{
    display: flex;
    color: #AAAAAA;
    flex-wrap: wrap;
}

.status .date, .status span{
    margin-right: 20px;
    font-size: 14px;
}

article .date::before{
    font-family: "Font Awesome 5 Free";
    content: "\f017";
    margin-right: 5px;
}

.status .post_categories::before{
    font-family: "Font Awesome 5 Free";
    content: "\f07c";
    margin-right: 5px;
}

.status .comments::before{
    font-family: "Font Awesome 5 Free";
    content: "\f086";
    margin-right: 5px;
}

.post_categories a{
    text-decoration: none;
    color: inherit;
}

.post_categories a:hover{
    color: #2ecc71;
}

.post_head{
    font-size: 28px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    font-weight: 700;
}

.post_head a{
    text-decoration: none;
    color: #444444;
}

.post_head a:hover{
    color: #2ecc71;
}

.description{
    margin: 25px 40px;
    font-size: 16px;
    line-height: 1.7em;
    color: #555555;
}

.readmore{
    align-self: flex-end;
    color: white;
    text-decoration: none;
    background-color: #2ecc71;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.readmore::after{
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    content: "  \f35a";
}
/*paginator styles*/
.paginator{
    margin: 10px 0;
}

.paginator a,
.paginator span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    min-width: 15px;
    color: white;
    padding: 10px 15px;
    background-color: #343434;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.paginator a:hover{
    background-color: #2ecc71;
}
/*aside styles*/
aside{
    width: 35%;
}
/*search form styles*/
aside section, .search{
    background-color: white;
    margin: 15px;
    padding-bottom: 15px;
}

.search{
    padding: 15px 5px;
}

.search_form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input[name="search"],
button.searchbutton{
    color: white;
    border: none;
    padding: 8px;
    font-size: 0.8em;
}

input[name="search"]{

}

button.searchbutton{
    font-size: 14px;
}

input[name="search"]{
    background-color: #343434;
}

.searchbutton{
    background-color: #2ecc71;
    font-weight: bold;
    text-transform: uppercase;
}
/*categories styles*/
h3.head{
    padding: 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #343434;
    border-bottom: 1px solid #f6f5f2;
    margin-bottom: 20px;
}

.categories ul{
    margin: 0 20px;
    padding: 0;
    list-style: none;
    font-size: 16px;
    color: #343434;
}

.categories li{
    border-bottom: 1px solid #f6f5f2;
    padding: 10px 0;
    display: list-item;
}

.categories li:last-child{
    border-bottom: none;
}

.categories a{
    text-decoration: none;
    color: #444444;
}


/*footer styles*/
footer{
    background-color: #343434;
    color: white;
    justify-content: space-between;
}

footer section{
    display: block;
    padding: 20px;
    margin: 20px;
}

footer a{
    color: white;
    text-decoration: none;
}
