body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

header, footer{
    margin: 30px auto;
    width: 70%;
    display: flex;
    min-height: 50px;
}

header{
    background-color: #343434;
    color: white;
    justify-content: space-between;
    text-transform: uppercase;
}

footer{
    background-color: #343434;
    color: white;
    justify-content: space-between;
}

footer section{
    display: block;
    padding: 20px;
    margin: 20px;
}

footer a{
    color: white;
    text-decoration: none;
}

.logo{
    margin: 0 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    margin-right: 5px;
}

nav a{
    color: white;
    display: block;
    padding: 10px 25px;
    border-left: 1px solid white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

nav a:hover{
    background-color: #2ecc71;
}