<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1>{{ post.title }}</h1>
{% if error_message %}<p><strong>
    {{ error_message }}</strong></p>{%  endif %}
<ul>

<form action="{% url 'main_blog:comment' post.id %}" method="post">
    {% csrf_token %}
    {% for image in post.imagesfrompost_set.all %}
        <li><img src="{{ image.image }}" alt="There was image"></li>
    <label for="image{{ forloop.counter }}">{{ forloop.counter }}</label><br>
    {% endfor %}
    <input type="submit" value="Add comment">
</form>
</ul>
</body>
</html>