{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activation failed</title>
    <link rel="stylesheet" href="{% static "css/registration/registration.css" %}">
</head>
<body>
<section class="activation_failed">
    <div>
        <p>Oops, something is wrong...</p>
        <p>The problem is: <span class="error">{{ activation_error }}</span></p>
        <a href="{% url "index" %}" class="back_main btn_fail">Back to main</a>
    </div>
</section>
</body>
</html>