<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="form_reg">
    <h1>Login</h1>
    <form method="post" action="">
        {% csrf_token %}
        {% for field in form %}
            <div class="form_element">
                {{ field }}
                <div class="label-box">
                    {{ field.label_tag }}
                </div>
                {% if field.errors %}
                    <div class="myerrors clearfix">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
    <div class="form_element">
        <input type="submit" class="reg_user" value="Sign up">
        <a href="{% url "posts:index" %}" class="back_main">Back to main</a>
    </div>
    </form>
</div>
</body>
</html>